$height: 50px;

.Search {
    input {
        width: 80%;
        height: $height;
        background-color: #7db749;
        border: none;
        outline: none;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        
        &::placeholder {
            color: white;
        }
    }

    .icon {
        display: inline-block;
        width: 20%;

        button {
            height: $height;
            padding-top: 0;

            i {
                color: white !important;
            }
        }
    }
}